<div class="container">
    <img src="~/img/Icons/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/img/Icons/Envelope-icon24.png" />
            </span>
            <h5>
                <email endereco="danielrossi5678@gmail.com" conteudo="Enviar um e-mail"></email>
            </h5>
            <br />
            <span>
                <img src="~/img/Icons/phone-app-icon.png" />
            </span>
            <h5><a href="https://wa.me/5511939524211" style="text-decoration:none;color:green">WhatsApp</a></h5>
            <br />
            <span>
                <img src="~/img/Icons/Home-iconred.png" />
            </span>
            <h5>Rua Seinão 10 - 09249-070 - São Paulo</h5>
        </p>
    </div>
</div>