<br />
<img src="~/img/Icons/negado.png" alt="Acesso Negado" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>
</div>