@model HomeViewModel

<!-- Exibição de uma partial view-->
<partial name="_Carousel" />

<div class="container text-center row-md-4 row-sm-1">
    <h2>Os preferidos de todos os tempos</h2>
    <div class="row row-cols-3">
        @foreach (var produto in Model.ProdutosPreferidos) {
            <partial name="_ProdutosResumo" for="@produto" />
        }
    </div>
</div>