@{
    ViewData["Title"] = "UploadFiles";
}

<hr />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @if(ViewData["Erro"] != null) {
            <h4>@ViewData["Erro"]</h4>
        }
    </div>
    <div class="container">
        @if(ViewData["Resultado"] != null){
            <h4>@ViewData["Resultado"]</h4>
            <hr />
            @if(ViewBag.Arquivos != null) {
                @foreach(string arquivo in ViewBag.Arquivos) {
                    <li>
                        @arquivo
                    </li>
                }
            }
        }
    </div>
</div>